:root {
    --spacing: 15px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    min-width: 768px;
    margin-top: 5px;
}

.editor {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin: 0 10px;
    max-height: calc(100vh - 100px);
}

.quill-editor-wrapper {
    display: flex;
    flex-direction: column;
    width: calc(50% - var(--spacing)/2);
}

.quill-wrapper {
    display: flex;
    flex-direction: column;
}

.quill {
    flex-grow: 1;
    width: auto;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(50% - var(--spacing)/2);
}

.editor p {
    margin: 0;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    height: calc(50% - 10px);
}

.content-display, .html-display, .delta-display {
    border: solid 1px lightgray;
    font-size: 0.8rem;
    overflow-y: hidden;
    flex-grow: 1;
    overflow: auto;
}

.button {
    margin: 0 10px 10px;
}

.button-separator {
    margin: 10px 0;
}