:root {
    --header-height: 50px;
    --footer-height: 50px;
}

.homepage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    height: var(--header-height);
    width: 100%;
}

.header h1 {
    text-align: center;
}

.top-separator {
    margin-top: 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--footer-height);
    font-size: x-small;
}

.ql-syntax {
    background-color: black;
    padding: 10px;
    margin: 10px;
    color: bisque;
}